.modal-callback,
.modal-request,
.modal-popup {
	&-box {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 1.8em;
		border-radius: 0.5em;
		overflow: hidden;
		background-color: $color-white;
		max-width: 30em;
		opacity: 1;
		text-align: center;
		font-size: 1.6rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		@include respond-max(570) {
			max-width: 90%;
		}
		::selection {
			background-color: $color-green;
			color: $color-white;
		}
	}

	&-box {
		width: 30em;

		::selection {
			background-color: $color-black;
			color: $color-white;
		}
	}

	.modal__btn--close,
	.modal__btn--close:visited {
		position: absolute;
		display: block;
		top: 0.2em;
		right: 0.2em;
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: flex-end;
		width: 1em;
		font-size: 2em;
		transition: color 0.2s;
		color: $color-black;
    opacity: 0.8;
    
    & span {
      width: 100%;
    }

		&:hover,
    &:focus,
    &:active {
			cursor: pointer;
			color: $color-red;
		}
	}

	&__title {
		font-size: 1.5em;
		padding: 0.6em 0;
		width: 100%;
	}

	&__text {
		font-size: 0.9em;
		margin-bottom: 1em;
		line-height: 1.4;
		width: 100%;
	}

	&__form-box {
		width: 100%;
  }
  
}

.modal-popup {
  // width: ;
  &__logo {
    height: 5em;
  }
}

// Animation modals
body.modal-active {
	overflow: hidden;
}
// .modal-container,
#callbackModal,
#requestModal,
#popUpModal {
	position: fixed;
	display: table;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transform: scale(0);
	z-index: 9999;

	&.one {
		transform: scaleY(0.01) scaleX(0);
		animation: unfoldIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
		.modal-background {
			.modal-callback {
				transform: scale(0);
				animation: zoomIn 0.4s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
			}
		}
	}
	&.out {
		transform: scale(1);
		animation: unfoldOut 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
		.modal-background {
			.modal-callback {
				animation: zoomOut 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
			}
		}
	}
}

.modal-background {
	display: table-cell;
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	vertical-align: middle;
}
