.section__first-screen {
	color: $color-white;
	text-align: center;
  position: relative;
  
	@include respond-max(768) {
    min-height: 70rem;
	}

	/*.skills-slide {
		height: 16rem;
    width: 100%;
    @include respond-max(768) {
    min-height: 10rem;
	}
	}*/
}

.first-screen__text {
	font-size: 2.2rem;
	font-weight: 300;
	line-height: 1.8;
	width: 100%;
  margin-top: 3em;
  padding: 0 1em;

	@include respond-max(768) {
		font-size: 2rem;
	}
}

.btn-group {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 60%;
	padding-top: 3em;
	font-size: 2rem;
	text-transform: uppercase;

	@include respond-max(570) {
		flex-direction: column;
		width: 70%;
		&__link {
			width: 100%;
			margin-bottom: 2em;
		}
	}
}
