.primary-heading {
	text-align: center;
	font-size: 7rem;
	font-weight: 400;
	line-height: 1.2;
	padding-top: 1.5em;
	width: 100%;

	@include respond-max(1000) {
		font-size: 5rem;
	}
	@include respond-max(470) {
		font-size: 4rem;
		padding-top: 1em;
	}
}

.secondary-heading {
	padding-top: 1.5em;
	padding-bottom: 1em;
	font-size: 4.5rem;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	@include respond-max(768) {
		font-size: 3.5rem;
	}
	@include respond-max(470) {
		font-size: 3rem;
		padding-top: 1.5em;
		padding-bottom: 1em;
	}
}

.tertiary-heading {
	text-transform: uppercase;
	color: $color-orange;
	font-size: 1.7rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-align: center;
	@include respond-max(768) {
		font-size: 1.5rem;
	}
}


