.nav {
  width: 60%;
	flex: 1 1 60%;
	&__checkbox {
    display: none;
	}
	&-container {
    display: flex;
		align-items: center;
		@include respond-max(570) {
      position: relative;
      align-self: stretch;
      justify-content: flex-end;
		  width: 20%;
      flex: 0 1 20%;
		}
	}
	&__checkbox:checked ~ .menu {
		@include respond-max(570) {
			position: absolute;
			animation: menu-slide 0.5s normal;
      transform: translateX(-114%);
      display: flex;
		}
	}

	&__button {
		display: none;
		@include respond-max(570) {
			display: flex;
			justify-content: center;
      align-items: center;
      width: 100%;
			height: 100%;
			z-index: 2000;
			color: $color-grey-dark;
		}
	}
}

.menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	text-decoration: none;
  width: 100%;
  height: 31rem;
	padding: 0 1.5rem;
	transition: all 0.3s;
	@include respond-max(670) {
		padding: 0;
	}
	@include respond-max(570) {
		position: absolute;
		padding-right: 4rem;
		padding-bottom: 3rem;
		padding-top: 1.2rem;
		width: 27rem;
		bottom: -31rem;
		right: -33rem;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
		background-color: $color-white-bg;
		border-bottom-left-radius: 1rem;
    color: $color-black;
    display: none;
		z-index: 1000;

		&__item {
      margin-top: 2.5rem;
      @include respond-max(570) {
        margin-top: 3.5rem;
      }
		}
	}

	&__link {
		&,
		&:link {
			position: relative;
			text-transform: uppercase;
			color: $color-grey;
			font-size: 1.5rem;
      transition: color 0.3s;
      outline: none;
      @include respond-max(570) {
        font-size: 2.5rem;
      }

			&::before {
				content: '';
				width: 0;
				height: 0.3em;
				position: absolute;
				bottom: -0.7rem;
				left: 0;
				color: $color-grey-dark;
				background-color: $color-grey-dark;
				opacity: 0;
				transition: opacity 0.2s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.1s;
				@include respond-max(570) {
					transition: width 0.1s;
				}
			}

      &:hover::before,
      &:focus::before {
				content: '';
				opacity: 0.6;
				width: 100%;
			}

      &:hover,
      &:focus {
        color: $color-grey-dark;
			}
		}
  }
  

}

//menu button SVG X
.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: none;
	order: 1;
	height: 100%;
	width: 100%;
	@include respond-max(570) {
		display: block;
	}
}
.hamRotate.active {
	transform: rotate(45deg);
	stroke: $color-grey-dark;
}

.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: $color-grey-dark;
	stroke-width: 5.5;
	stroke-linecap: round;
}
.ham4 .top {
	stroke-dasharray: 40 121;
}
.ham4 .bottom {
	stroke-dasharray: 40 121;
}
.ham4.active .top {
	stroke-dashoffset: -68px;
}
.ham4.active .bottom {
	stroke-dashoffset: -68px;
}
