@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// This defines what 1rem is
	font-size: 62.5%; // 1rem = 10px;
	font-family: 'Roboto', sans-serif;

	@include respond(1000) {
		font-size: 56.25%;
  }
  
	@include respond(850) {
		font-size: 50%;
	}

	@include respond(670) {
		font-size: 43.75%;
	}
}

body {
	box-sizing: border-box;
}

.container {
	max-width: 117rem;
	margin: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}
