.heading {
	font-weight: 400;
	font-size: 3.5rem;
  line-height: 1.5;
  color: $color-white;

	@include respond(md) {
		font-size: 3.5rem;
	}
	@include respond(sm) {
		font-size: 2.5rem;
	}
	@include respond(s) {
		font-size: 2rem;
	}
}

.first-screen__text {
	font-size: 1.5rem;
}
